.DS_Store
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
env/
.env
.env.*
!.env.example
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
node_modules/
dist/
build/
scripts/
*.egg-info/
.idea/
.vscode/
*.tgz
*.zip

logs/*
!logs/.gitkeep
